<footer>
  <div class="copyright">
    <p>Copyright &copy; 2019. Banka Nigeria Ltd. All Rights Reserved</p>
  </div>
  <div class="footer-right">
    <ul>
      <li><a class="signin <%= path === '/' %>" href="/">Policy</a></li>
      <li><a class="signin <%= path === '/' %>" href="/">Terms of use</a></li>
    </ul>
  </div>
</footer>

