<header>
  <nav class="navbar">
    <ul class="homelink">
      <li><a class="<%= path === '/' %>" href="/">banka</a></li>
    </ul>

    <ul class="signin-login">
      <% if (!onPage) { %>
        <a class="login <%= path === '/signup-login' %>" href="/signup-login">Sign Up / Log In</a>
      <% } %>
      
    </ul>
  </nav>
</header>
